    @CHARSET "ISO-8859-1";
    blockquote,
    body,
    dd,
    div,
    dl,
    dt,
    fieldset,
    form,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    li,
    ol,
    p,
    pre,
    td,
    textarea,
    th,
    ul {
        padding: 0;
        margin: 0
    }
    
    a {
        text-decoration: none
    }
    
    table {
        border-spacing: 0
    }
    
    abbr,
    acronym,
    fieldset,
    img {
        border: 0
    }
    
    address,
    caption,
    cite,
    code,
    dfn,
    em,
    th,
    var {
        font-weight: 400;
        font-style: normal
    }
    
    h1,
    strong {
        font-weight: 700
    }
    
    strong {
        font-style: normal
    }
    
    ol,
    ul {
        list-style: none
    }
    
    caption,
    th {
        text-align: left
    }
    
    h1 {
        padding: 0;
        font-size: 5em;
        margin: 0 0 .25em
    }
    
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        font-size: 100%
    }
    
    q:after,
    q:before {
        content: ''
    }
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    
    #fullpage,
    .section,
    body,
    html {
        height: 100%
    }
    
    .section.fp-table {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    
    .fp-tableCell {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%
    }
    
    .examples,
    .fp-slidesNav.bottom {
        display: none
    }
    
    body {
        font-family: arial, helvetica;
        color: #fff
    }
    
    [data-lang=ru] h1 {
        font-size: 6em
    }
    
    #section-1 h2,
    .intro p {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased
    }
    
    .intro p {
        max-width: -webkit-calc(30em - (1.3em*2));
        max-width: calc(30em - (1.3em*2));
        margin-right: auto;
        margin-left: auto;
        padding-right: 1.3em;
        padding-left: 1.3em;
        font-size: 1.5em
    }
    
    #fp-nav ul li a span,
    #menu-line,
    .fp-slidesNav ul li a span {
        background: #fff
    }
    
    .section,
    .twitter-share i,
    .wrap {
        position: relative
    }
    
    .section {
        text-align: center
    }
    
    .wrap {
        margin-left: auto;
        margin-right: auto;
        width: 960px
    }
    
    #menu-line {
        position: absolute;
        top: 24px;
        left: 0;
        width: 159px;
        height: 2px;
        transition: all 600ms ease
    }
    
    #menu {
        position: fixed;
        text-align: right;
        margin-right: 20px;
        top: 20px;
        right: 20px;
        z-index: 70;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        letter-spacing: 1px;
        font-size: 1.1em
    }
    
    #menu li {
        display: inline-block;
        margin: 10px 0
    }
    
    #menu a {
        color: #fff;
        padding: 0 1.1em 1.1em
    }
    
    .menu-active {
        font-weight: 700
    }
    
    #menu-theme-mobile {
        display: none
    }
    
    #section-1 {
        background: #ff5f45
    }
    
    #section-1 h1 {
        font-size: 10em;
        font-weight: 900;
        color: #fff
    }
    
    #section-1 h2 {
        color: rgba(255, 255, 255, .7);
        font-size: 1.73em;
        font-weight: 100;
        margin: -10px 30px 10px
    }
    
    #section-1 li,
    .github-data {
        display: inline-block;
        margin: 1.25em .3em
    }
    
    .section-1-button {
        padding: .93em 1.87em;
        background: #fff;
        border-radius: 5px;
        display: block;
        color: #ff5f45
    }
    
    #download a {
        background: #004f69;
        color: #fff
    }
    
    .section-1-usedBy {
        background-image: url(https://alvarotrigo.com/fullPage/imgs/trusted-by.png);
        width: 80%;
        max-width: 536px;
        height: 36px;
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0
    }
    
    .language {
        position: absolute;
        left: 20px;
        top: 14px;
        z-index: 99;
        opacity: 1
    }
    
    .languages {
        display: none
    }
    
    .language-current {
        margin: 15px 0 6px 15px;
        z-index: 99;
        cursor: pointer
    }
    
    .flag {
        width: 35px;
        height: 24px;
        display: inline-block;
        margin: 0 17px 0 0;
        vertical-align: middle;
        background-image: url(https://alvarotrigo.com/fullPage/imgs/flags.png)
    }
    
    .flag-chinese {
        background-position: 0 0
    }
    
    .flag-english {
        background-position: -35px 0
    }
    
    .flag-russian {
        background-position: -70px 0
    }
    
    .flag-korean {
        background-position: -105px 0
    }
    
    .flag-spanish {
        background-position: -140px 0
    }
    
    .language-triangle {
        position: absolute;
        top: 22px;
        left: 3px;
        fill: #fff;
        height: 6px;
        width: 8px
    }
    
    .twitter-share i {
        vertical-align: middle;
        display: inline-block;
        width: 38px;
        height: 14px;
        color: #fff;
        top: -4px;
        left: -2px;
        fill: #fff
    }
    
    .twitter-share svg {
        height: 40px;
        margin-top: -10px
    }
    
    @media screen and (max-width:1135px) {
        .fp-tableCell {
            font-size: .9em
        }
        .examples-wrapper {
            top: 100px;
            -webkit-transform: none;
            transform: none
        }
    }
    
    @media screen and (max-width:1050px) {
        .fp-tableCell {
            font-size: .85em
        }
    }
    
    @media screen and (max-width:1030px) {
        #section-3 .intro {
            width: 40%
        }
        .shell {
            width: calc(60% - 54px)
        }
    }
    
    @media screen and (max-width:900px) {
        #section-3 .intro {
            display: block;
            text-align: center;
            width: 100%
        }
        #section-3 .intro p {
            display: none
        }
        .shell {
            width: 80%;
            margin: 0
        }
        #menu {
            text-align: center;
            left: 0;
            right: 0
        }
        #menu-theme-desktop {
            display: none!important
        }
        #menu-theme-mobile {
            display: inline-block
        }
        .language {
            left: 50%;
            margin-left: -71px;
            bottom: 70px;
            top: auto;
            transition: all 1s ease-in;
            -webkit-transition: all .3s ease-in;
            opacity: 0;
            visibility: hidden
        }
        .fp-viewing-page1 .language {
            display: block;
            opacity: 1;
            visibility: visible
        }
    }
    
    @media screen and (max-width:700px) {
        .fp-tableCell {
            font-size: .8em
        }
        #menu a {
            padding: 0 .7em .7em
        }
        .my-arrow.left,
        .my-arrow.right {
            display: none
        }
        .fp-slidesNav.bottom {
            display: block
        }
    }
    
    @media screen and (max-width:630px) {
        h1 {
            font-size: 6.5em
        }
        #menu {
            letter-spacing: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
        }
    }
    
    @media screen and (max-width:550px) {
        #section-1 h1 {
            font-size: 6em
        }
        h1 {
            font-size: 5em
        }
        .intro p {
            max-width: 75%
        }
        #menu li a {
            padding: 0 .7em .7em
        }
        #download,
        #menu-contact,
        .mobile-hide {
            display: none!important
        }
        .shell-body {
            margin: 1.6em
        }
        #fp-nav.right {
            right: 7px
        }
    }
    
    @media screen and (max-width:380px) {
        h1 {
            font-size: 3.5em
        }
        .intro p {
            max-width: 85%
        }
        #section-3 .shell {
            font-size: .8em
        }
        .shell-body {
            margin: 1em
        }
    }
    
    @media only screen and (min-width:551px) {
        .mobile-show {
            display: none
        }
    }
    
    * {
        box-sizing: border-box;
    }
    /* Float four columns side by side */
    
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding */
    
    .row {
        margin: 0 15px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive columns */
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
    /* Style the counter cards */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        background-color: whitesmoke;
        border-radius: 10px;
    }
    
    #container1,
    #container2 {
        min-width: 310px;
        max-width: 800px;
        height: 400px;
        margin: 0 auto
    }
    
    @media screen and (max-width:700px),
    screen and (max-height:500px) {
        .fp-controlArrow.fp-prev,
        .fp-controlArrow.fp-next {
            display: none
        }
    }
    /* Quotation */
    
    .quotation {
        font-size: 2em;
        margin: 0 auto;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 20px 3em;
        line-height: 1.4;
        text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
    }
    
    .quotation:before {
        content: open-quote;
        display: inline;
        /* height: 0; */
        line-height: 0;
        left: -10px;
        position: relative;
        top: 40px;
        color: #fff;
        font-size: 4em;
    }
    /* .quotation::after {
        content: close-quote;
        display: inline; */
    /* height: 0; */
    /* line-height: 0;
        left: 10px;
        position: relative;
        top: 35px;
        color: #fff;
        font-size: 3em;
    } */
    /* background image */
    
    .section {
        background-size: cover;
    }
    
    .slide {
        background-size: cover;
    }
    
    #section0 {
        background-image: linear-gradient(rgba(92, 53, 69, 0.45), rgba(0, 0, 0, 0.6)), url(https://stmed.net/sites/default/files/kofi-annan-wallpapers-26986-4006801.jpg);
    }
    /* font size */
    
    body {
        font-size: 100%;
    }
    
    body,
    caption,
    th,
    td,
    input,
    textarea,
    select,
    option,
    legend,
    fieldset,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size-adjust: 0.5;
    }
    
    #page {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.25;
        /* equivalent to 20px */
    }
    
    @media (min-width: 43.75em) {
        #page {
            font-size: 1em;
            /* equivalent to 16px */
            line-height: 1.375;
            /* equivalent to 22px */
        }
    }
    
    h1 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
        /* 45px / 36px */
    }
    
    @media (min-width: 43.75em) {
        h1 {
            font-size: 2.5em;
            /* 2.5x body copy size = 40px */
            line-height: 1.125;
        }
    }
    
    @media (min-width: 56.25em) {
        h1 {
            font-size: 3em;
            /* 3x body copy size = 48px */
            line-height: 1.05;
            /* keep to a multiple of the 20px line height and something more appropriate for display headings */
        }
    }
    
    h2 {
        font-size: 1.625em;
        /* 1.625x body copy size = 26px */
        line-height: 1.15384615;
        /* 30px / 26px */
    }
    
    @media (min-width: 43.75em) {
        h2 {
            font-size: 2em;
            /* 2x body copy size = 32px */
            line-height: 1.25;
        }
    }
    
    @media (min-width: 56.25em) {
        h2 {
            font-size: 2.25em;
            /* 2.25x body copy size = 36px */
            line-height: 1.25;
        }
    }
    
    h3 {
        font-size: 1.375em;
        /* 1.375x body copy size = 22px */
        line-height: 1.13636364;
        /* 25px / 22px */
    }
    
    @media (min-width: 43.75em) {
        h3 {
            font-size: 1.5em;
            /* 1.5x body copy size = 24px */
            line-height: 1.25;
        }
    }
    
    @media (min-width: 56.25em) {
        h3 {
            font-size: 1.75em;
            /* 1.75x body copy size = 28px */
            line-height: 1.25;
        }
    }
    
    h4 {
        font-size: 1.125em;
        /* 1.125x body copy size = 18px */
        line-height: 1.11111111;
    }
    
    @media (min-width: 43.75em) {
        h4 {
            line-height: 1.22222222;
            /* (22px / 18px */
        }
    }
    /* blockquote {
        font-size: 1.25em; */
    /* 20px / 16px */
    /* line-height: 1.25; */
    /* 25px / 20px */
    /* } */
    
    @media (min-width: 43.75em) {
        blockquote {
            font-size: 1.5em;
            /* 24px / 16px = */
            line-height: 1.45833333;
            /* 35px / 24px */
        }
    }