@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: black;
}

.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}


/* Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgb(255, 255, 255, 1)!important;
}

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    padding-top: .8rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    color: #975b79;
}


/* Start of landing page */

.home-inner {
    background-image: linear-gradient(to bottom right, rgba(57, 81, 104, 0.6), rgba(216, 150, 205, 0.6)), url(img/gender.jpg);
    min-height: 1000px;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3 {
    font-size: 2rem;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
    z-index: 2;
}


/* course section styling */


/*============= COURSE SECTION =============*/

.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}

.btn-secondary {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem;
    border-color: #975b79;
    background-color: #975b79;
    color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #975b88;
    background-color: #975b88;
    color: white;
}


/* jumbotron */

.jumbotron {
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}

h3.heading {
    font: size 1.9reml;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline {
    width: 3rem;
    height: .2rem;
    background-color: #975b79;
    margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
    color: #975b79;
}

.feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: .4rem;
}

.feature p {
    font-size: 1.1rem;
}

.fixed {
    background-image: linear-gradient(to bottom right, rgba(57, 81, 104, 0.6), rgba(216, 150, 205, 0.6)), url(img/hongkong.jpg);
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom left, rgba(31, 44, 56, 0.6), rgba(61, 43, 58, 0.6)), url(img/hongkong.jpg);
    color: white;
    padding: 7rem 2rem;
}

.light {
    background-color: white;
    padding: 7rem 2rem;
}


/* .light h3 {
    margin-bottom: 2rem;
} */

.light p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
}

.fixed-background p {
    margin-top: 1.5rem;
}


/* client */

.clients img {
    width: 100%;
    border-radius: 50%;
}

blockquote .svg-inline--fa {
    color: #975b79;
    margin: 1rem;
}

.clients-hr {
    border-top: .05rem solid #975b79;
}


/* footer */

footer {
    background-color: #975b79;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 1rem;
}

footer img {
    height: 3rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

hr.socket {
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

.carousel-inner {
    font-size: 3.8rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption {
    top: 42%;
    bottom: auto;
}

.carousel-item {
    height: 100vh;
    min-height: 800px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ecoforce */

.ecoforce p {
    padding-right: 3rem;
    padding-left: 3rem;
}


/* .row {
    padding-left: 7rem;
    padding-right: 7rem;
}

.rquote {
    padding-left: -12rem;
    padding-right: -12rem;
} */


/* Medium queries */

@media (max-width: 767px) {
    .caption h1 {
        font-size: 1.7rem;
        letter-spacing: .1rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
    .narrow h1 {
        font-size: 1.5rem;
    }
    .clients img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .carousel-caption {
        top: 38%;
        bottom: auto;
    }
    .row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/


/*--- Extra Bootstrap Column Padding --*/

[class*="col-"] {
    padding: 1rem;
}


/*--- Bootstrap Mobile Gutter Fix --*/

.row,
.container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}


/*--- Fix for Fixed Navbar jumping on scroll --*/

.fixed-top {
    -webkit-backface-visibility: hidden;
}


/*--- Fixed Landing Page Section --*/

.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -3;
}

.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- iOS Fixed Background Image --*/

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.econ-select {
    background-color: white;
    border: 2px solid #975b79;
    border-radius: 4px;
    margin: 10px;
    font-size: 100%;
    height: 40px;
}

input[type="number"] {
    min-width: 50px;
}